/Users/rafiq/Documents/SwiftProjects/FactFinder/FactFinder/BERTQAFP16.mlmodel filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
FactFinder/BERTQAFP16.mlmodel filter=lfs diff=lfs merge=lfs -text
